* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h3 {
    display: inline-block;
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
}

/* Classi */

.headcontainer {
    /* display: inline-block; */
    margin: 10px 20px;
}

.main-title {
    display: inline-block;
    line-height: 50px;
    vertical-align: top;
}



.bg-container {
    background-color: rgb(223, 223, 223);
    padding-top: 20px;
    padding-bottom: 10px;
}

.container {
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 20px;
}

.blue-button {
    background-color: rgb(9, 160, 211);
    color: white;
}

.grey-button {
    background-color: white;
    color: lightgrey;
}