* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    margin: 10px 0;
}

h5 {
    margin: 10px 0;
}

/* Classi */

.headcontainer {
    margin: 10px 20px;
}

.main-title {
    display: inline-block;
    line-height: 50px;
    vertical-align: top;
}

.bg-container {
    background-color: rgb(223, 223, 223);
    padding-top: 20px;
    padding-bottom: 10px;
}

.container {
    background-color: white;
    width: 80%;
    margin: 0 auto 3px;
    padding: 20px 80px 10px;
}

.top-corner-radius {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.botton-corner-radius {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.button {
    display: inline-block;
    border: 1px solid;
    padding: 10px;
}

.big-bt {
    border-radius: 10px;
    padding: 10px;
}

.small-bt {
    border-radius: 50px;
    padding: 5px 10px;
}

.blue-bt {
    background-color: rgb(9, 160, 211);
    color: white;
}

.grey-bt {
    background-color: white;
    color: lightgrey;
}

.violet-bt {
    background-color: violet;
    color: white;
}

.green-bt {
    background-color: green;
    color: white;
}

.orange-bt {
    background-color: orange;
    color: white;
}

.red-bt {
    background-color: red;
    color: white;
}